<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Opower Engineering Blog">
        <meta name="author" content="Opower's Engineering Team">

        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml" />

        <title>Opower | {{ page.title }}</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Pluggy Font -->
        <link rel="stylesheet" href="/css/pluggyfont.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/custom.css">

    </head>

    <body>

    <!-- Wraps page content to push the footer down -->
    <div id="wrap">

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">OP<b>O</b>WER</a>
                <div class="nav-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                {{ content }}

                </div>
                <div class="sidebar col-lg-4">
                    <h3>Opower Projects</h3>
                    <ul>
                        <li><a href="https://github.com/opower/elroi">Elroi</a>: JavaScript charting &amp; graphing</li>
                        <li><a href="https://github.com/opower/sensu-metrics-relay">WizardVan</a>: Sensu metrics relay</li>
                    </ul>
                </div>

            </div>
        </div><!-- /.container -->

    </div><!-- /#wrap -->

    <div id="footer">
        <div class="container">
            <a href="http://opower.com">Opower</a>, <a href="http://github.com/opower">github.com/opower</a>, <a href="http://twitter.com/opower">@opower</a>
        </div>
    </div>

  </body>
</html>
